/*!
 * Roots 6.5.1
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   AlMar Vars
   ========================================================================== */

// colors
@color-almar-black: #000;
@color-almar-offblack: lighten(@color-almar-black, 10);
@color-almar-white: #fff;
@color-almar-offwhite: darken(@color-almar-white, 5);
@color-almar-red: #900;

// fonts


/* ==========================================================================
   Override Bootstrap Vars
   ========================================================================== */

// colors
@body-bg: @color-almar-black;
@text-color: @color-almar-white;
@link-color: @color-almar-white;
@link-hover-color: @color-almar-red;

// fonts

// navbar
@navbar-border-radius: 0;

// wells
@well-bg: @color-almar-offblack;

/* ==========================================================================
   Base
   ========================================================================== */

body { }



/* ==========================================================================
   Header
   ========================================================================== */

.stripe {
   background: @color-almar-black;
   color: @color-almar-white;
   font-size: 0.8em;
   line-height: 2;
   padding: 1em 0 0;
   text-transform: uppercase;
   &, a {
      color: @color-almar-offwhite;
   }
   a:hover, a:active, a:focus {
      color: @color-almar-white;
      text-decoration: none;
   }
}
.bar-nav-wrap {
}
.bar-nav {

}

.banner { }



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: @screen-xs-max) {
   .stripe {
      padding: 1em 0;
   }
}

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
