/*!
 * Roots 6.5.1
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   AlMar Vars
   ========================================================================== */

// colors
@color-almar-black: #000;
@color-almar-offblack: lighten(@color-almar-black, 10);
@color-almar-white: #fff;
@color-almar-offwhite: darken(@color-almar-white, 10);
@color-almar-medium: darken(@color-almar-white, 50);
@color-almar-red: #ae212b;
@color-almar-red-light: lighten(@color-almar-red, 10);
@color-almar-light-green: #93a182;
@color-almar-beige: #d3bfab;
@color-almar-light-beige: lighten(@color-almar-beige, 20);

// fonts
@font-family-almar-special: "AmericanCaptain", sans-serif;

@grid-float-breakpoint: 66em;

/* ==========================================================================
   Override Bootstrap Vars
   ========================================================================== */

// colors
@body-bg: @color-almar-beige;
@text-color: @color-almar-black;
@link-color: @color-almar-red;
@link-hover-color: @color-almar-red;

@brand-primary: @color-almar-red;

// other type
@blockquote-border-color: @color-almar-offblack;
@page-header-border-color: @color-almar-offblack;
@text-muted: @gray;

// fonts
@headings-font-family: @font-family-almar-special;

// navbar
@navbar-margin-bottom: 0;
@navbar-border-radius: 0;
@navbar-height: 60px;
// @navbar-padding-vertical: 20px;
@navbar-inverse-bg: @color-almar-black;
@navbar-inverse-link-color: @color-almar-white;
@navbar-inverse-link-hover-color: @color-almar-light-beige;

// dropdowns
@dropdown-bg: @color-almar-beige;
@dropdown-link-color: @color-almar-black;
@dropdown-link-hover-color: @color-almar-white;
@dropdown-link-hover-bg: @color-almar-offblack;
@dropdown-link-active-color: @color-almar-white;
@dropdown-link-active-bg: @color-almar-offblack;

// wells
@well-bg: darken(@color-almar-beige, 10);

/* ==========================================================================
   Base
   ========================================================================== */

body { }

h1, h2, h3, h4, h5, h6 {
   text-transform: uppercase;
}
hr {
   border-top: 1px solid @color-almar-black;
}

/* ==========================================================================
   Header
   ========================================================================== */

// stripe
.stripe {
   font-size: 0.8em;
   line-height: 2;
   padding: 1em 0 0;
   text-transform: uppercase;
   li.active a {
      color: @color-almar-white;
   }
}


// navbar
.navbar-inverse {
   background-image: url(../img/navbar.png);
   text-transform: uppercase;
   .navbar-nav {
      margin-top: 25px;
      & > li > a {
         font-family: @font-family-almar-special;
         font-size: 1.4em;
      }
   }
}
.navbar-brand {
   padding: 10px 15px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
   color: @color-almar-white;
   background-color: @color-almar-red;
}
.nav-cart-link {
   .glyphicon-shopping-cart { color: @color-almar-red; }
}

/* ==========================================================================
   Inverse layout scheme
   ========================================================================== */

.l-inverse {
   background: @color-almar-black;
   color: @color-almar-white;
   a {
      color: @color-almar-light-green;
      text-decoration: none;
      &:hover, &:active, &:focus {
         color: @color-almar-white;
         text-decoration: none;
      }
      &.btn {
         color: @color-almar-white;
      }
   }
}

/* ==========================================================================
   Jumbotron/Heros
   ========================================================================== */

.jumbotron {
   background: @color-almar-black url(../img/bg.jpg) no-repeat center top;
}

// Carousel
.carousel-container {
   margin-bottom: 2em;
}
.slide {
   h1 {
      color: @color-almar-red;
      // font-size: 5em;
   }
}


/* ==========================================================================
   Content
   ========================================================================== */

.content { }
.white {
   color: @color-almar-white;
}
h2 {padding: 12px 0;}


/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }
hr {margin: 50px 0;}


/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
   margin-top: 0;
}
footer {
   padding: 60px 0 160px 0;
   color: @color-almar-medium;
   font-size: 0.9em;
}
.red {
   margin-top: 10em;
   background: rgb(222,64,73); /* Old browsers */
   /* IE9 SVG, needs conditional override of 'filter' to 'none' */
   background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNkZTQwNDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNhZTIzMjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
   background: -moz-radial-gradient(center, ellipse cover,  rgba(222,64,73,1) 0%, rgba(174,35,40,1) 99%); /* FF3.6+ */
   background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(222,64,73,1)), color-stop(99%,rgba(174,35,40,1))); /* Chrome,Safari4+ */
   background: -webkit-radial-gradient(center, ellipse cover,  rgba(222,64,73,1) 0%,rgba(174,35,40,1) 99%); /* Chrome10+,Safari5.1+ */
   background: -o-radial-gradient(center, ellipse cover,  rgba(222,64,73,1) 0%,rgba(174,35,40,1) 99%); /* Opera 12+ */
   background: -ms-radial-gradient(center, ellipse cover,  rgba(222,64,73,1) 0%,rgba(174,35,40,1) 99%); /* IE10+ */
   background: radial-gradient(ellipse at center,  rgba(222,64,73,1) 0%,rgba(174,35,40,1) 99%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de4049', endColorstr='#ae2328',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
   color: @color-almar-white;
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: @screen-xs-max) {
   .stripe {
      padding: 1em 0;
   }
}

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
